[submodule "avr/firmware/atmegaxxu2-usbserial/lufa"]
	path = avr/firmware/atmegaxxu2-usbserial/lufa
	url = https://github.com/adilinden-oss/lufa.git

[submodule "avr/bootloaders/caterina/lufa"]
	path = avr/bootloaders/caterina/lufa
	url = https://github.com/adilinden-oss/lufa.git
